.login-container{
    width:400px;
    margin:100px;
    padding:20px;
    background-color:rgb(207, 154, 154);
    border-radius:10px;
}
h1{
    text-align:center;
}
button{
    width:40%;
    padding:10px;
    background-color:rgb(42, 71, 202);
    color:rgb(255, 255, 255);
    border-radius:10px;
    color:black;
    margin-left:110px;
    
}
input{
    width:95%;
    padding:10px;
    margin:10px;
    border-radius:4px;
}